.mainDiv {
    display: table;
}

.mainRow {
    display: table-row;
}

.sudokuDiv {
    width: 550px; 
    display: table-cell;
    vertical-align: top;
    -webkit-user-select: none;
    /*-webkit-touch-callout: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;*/
    user-select: none;
}

.stepsDiv {
    display: table-cell;   
    width: 400px;
    border:1px solid #ccc;
    vertical-align: top;
}

.innerStepsList {
    height: 485px;
    overflow-y: scroll;
    margin-bottom: 15px;
}

TABLE.outer {
    border-spacing: 0;
    border-style: solid;
    border-color: black;
    border-width: medium;

}

TD {
    vertical-align: middle;
}

TD.mainBlock {
    border-spacing: 0;
    border-style: solid;
    border-color: black;
    border-width: thin;
}

.numberCell {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    text-align: center;
    font-size:20pt;
    font-family: sans-serif;
}

TABLE.subNumberTable {
    margin-left:auto;
    margin-right:auto;
    border-color: black;
    font-size:7pt;
}

/* These are the small numbers that you can pick */
TABLE.subNumberTable TD {
    border-style: solid;
    border-width: thin;
    font-family: sans-serif;
}

TABLE.subNumberTable TD:hover {
    background-color: yellow;
}

TABLE.subNumberTable TD.singleton {
    border-color: greenyellow;
    border-width: medium;
}



.visibleNumberSpan {
    
}

.collisionNumberSpan {
    background-color: red;
}

.displayNone {
    display: none;
}

.pickedNumber {
    border-style: solid;
    border-color: lightgrey;
    border-width: thin;
    font-size:7pt;
    color: lightgray;
}
